.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .sign-out {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .container {
    padding: 20px;
  }
  
  .overview {
    margin-bottom: 20px;
  }
  
  .charts {
    display: flex;
    justify-content: space-around;
  }
  
  .chart-card {
    width: 45%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .user-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-list th, .user-list td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user-list th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .col-small {
    width: 5%;
  }
  
  .col-medium {
    width: 20%;
  }
  
  .col-large {
    width: 55%;
  }
  
  .table-row {
    height: 60px
  }
  